In [14]:
import pandas as pd
import seaborn as sns
import numpy as np

In [8]:
# read in csv
food_df = pd.read_csv('food-allergy-analysis-Zenodo.csv')
# specifiying my preferred view
pd.set_option('display.max_columns', 100) 
pd.set_option('display.max_rows', 100) 
pd.set_option('display.max_colwidth', 100)  # num of characters in each column entry
food_df.head()

,SUBJECT_ID,BIRTH_YEAR,GENDER_FACTOR,RACE_FACTOR,ETHNICITY_FACTOR,PAYER_FACTOR,ATOPIC_MARCH_COHORT,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,SHELLFISH_ALG_END,FISH_ALG_START,FISH_ALG_END,MILK_ALG_START,MILK_ALG_END,SOY_ALG_START,SOY_ALG_END,EGG_ALG_START,EGG_ALG_END,WHEAT_ALG_START,WHEAT_ALG_END,PEANUT_ALG_START,PEANUT_ALG_END,SESAME_ALG_START,SESAME_ALG_END,TREENUT_ALG_START,TREENUT_ALG_END,WALNUT_ALG_START,WALNUT_ALG_END,PECAN_ALG_START,PECAN_ALG_END,PISTACH_ALG_START,PISTACH_ALG_END,ALMOND_ALG_START,ALMOND_ALG_END,BRAZIL_ALG_START,BRAZIL_ALG_END,HAZELNUT_ALG_START,HAZELNUT_ALG_END,CASHEW_ALG_START,CASHEW_ALG_END,ATOPIC_DERM_START,ATOPIC_DERM_END,ALLERGIC_RHINITIS_START,ALLERGIC_RHINITIS_END,ASTHMA_START,ASTHMA_END,FIRST_ASTHMARX,LAST_ASTHMARX,NUM_ASTHMARX
0,1,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P1 - Medicaid,False,0.093087,3.164956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,S1 - Female,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,S0 - Male,R0 - White,E1 - Hispanic,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,NaN,NaN,NaN,1.002053,1.002053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,S0 - Male,R4 - Unknown,E1 - Hispanic,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
food_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333200 entries, 0 to 333199
Data columns (total 50 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   SUBJECT_ID               333200 non-null  int64
 1   BIRTH_YEAR               333200 non-null  int64
 2   GENDER_FACTOR            333200 non-null  object
 3   RACE_FACTOR              333200 non-null  object
 4   ETHNICITY_FACTOR         333200 non-null  object
 5   PAYER_FACTOR             333200 non-null  object
 6   ATOPIC_MARCH_COHORT      333200 non-null  bool
 7   AGE_START_YEARS          333200 non-null  float64
 8   AGE_END_YEARS            333200 non-null  float64
 9   SHELLFISH_ALG_START      5246 non-null    float64
 10  SHELLFISH_ALG_END        1051 non-null    float64
 11  FISH_ALG_START           1796 non-null    float64
 12  FISH_ALG_END             527 non-null     float64
 13  MILK_ALG_START           7289 non-null    float64
 14  MILK_ALG_END             4580 non-null    float64
 15  SOY_ALG_START            2419 non-null    float64
 16  SOY_ALG_END              1431 non-null    float64
 17  EGG_ALG_START            6065 non-null    float64
 18  EGG_ALG_END              3293 non-null    float64
 19  WHEAT_ALG_START          1146 non-null    float64
 20  WHEAT_ALG_END            688 non-null     float64
 21  PEANUT_ALG_START         8653 non-null    float64
 22  PEANUT_ALG_END           2092 non-null    float64
 23  SESAME_ALG_START         766 non-null     float64
 24  SESAME_ALG_END           178 non-null     float64
 25  TREENUT_ALG_START        1 non-null       float64
 26  TREENUT_ALG_END          0 non-null       float64
 27  WALNUT_ALG_START         704 non-null     float64
 28  WALNUT_ALG_END           166 non-null     float64
 29  PECAN_ALG_START          285 non-null     float64
 30  PECAN_ALG_END            59 non-null      float64
 31  PISTACH_ALG_START        369 non-null     float64
 32  PISTACH_ALG_END          82 non-null      float64
 33  ALMOND_ALG_START         386 non-null     float64
 34  ALMOND_ALG_END           117 non-null     float64
 35  BRAZIL_ALG_START         68 non-null      float64
 36  BRAZIL_ALG_END           19 non-null      float64
 37  HAZELNUT_ALG_START       253 non-null     float64
 38  HAZELNUT_ALG_END         52 non-null      float64
 39  CASHEW_ALG_START         561 non-null     float64
 40  CASHEW_ALG_END           121 non-null     float64
 41  ATOPIC_DERM_START        49515 non-null   float64
 42  ATOPIC_DERM_END          41732 non-null   float64
 43  ALLERGIC_RHINITIS_START  55567 non-null   float64
 44  ALLERGIC_RHINITIS_END    25326 non-null   float64
 45  ASTHMA_START             63874 non-null   float64
 46  ASTHMA_END               25465 non-null   float64
 47  FIRST_ASTHMARX           117550 non-null  float64
 48  LAST_ASTHMARX            117550 non-null  float64
 49  NUM_ASTHMARX             117550 non-null  float64
dtypes: bool(1), float64(43), int64(2), object(4)
memory usage: 124.9+ MB

In [83]:
# drop payer_factor(medicade vs non-medicade)
# drop treenut because it only had one entry
# reassigning df to have dropped values
food_df = food_df.drop(['PAYER_FACTOR','TREENUT_ALG_START','TREENUT_ALG_END'], axis=1)

,SUBJECT_ID,BIRTH_YEAR,GENDER_FACTOR,RACE_FACTOR,ETHNICITY_FACTOR,ATOPIC_MARCH_COHORT,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,SHELLFISH_ALG_END,FISH_ALG_START,FISH_ALG_END,MILK_ALG_START,MILK_ALG_END,SOY_ALG_START,SOY_ALG_END,EGG_ALG_START,EGG_ALG_END,WHEAT_ALG_START,WHEAT_ALG_END,PEANUT_ALG_START,PEANUT_ALG_END,SESAME_ALG_START,SESAME_ALG_END,WALNUT_ALG_START,WALNUT_ALG_END,PECAN_ALG_START,PECAN_ALG_END,PISTACH_ALG_START,PISTACH_ALG_END,ALMOND_ALG_START,ALMOND_ALG_END,BRAZIL_ALG_START,BRAZIL_ALG_END,HAZELNUT_ALG_START,HAZELNUT_ALG_END,CASHEW_ALG_START,CASHEW_ALG_END,ATOPIC_DERM_START,ATOPIC_DERM_END,ALLERGIC_RHINITIS_START,ALLERGIC_RHINITIS_END,ASTHMA_START,ASTHMA_END,FIRST_ASTHMARX,LAST_ASTHMARX,NUM_ASTHMARX
0,1,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,False,0.093087,3.164956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,S1 - Female,R0 - White,E0 - Non-Hispanic,False,12.232717,18.880219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,S0 - Male,R0 - White,E1 - Hispanic,True,0.010951,6.726899,NaN,NaN,NaN,NaN,1.002053,1.002053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,S0 - Male,R4 - Unknown,E1 - Hispanic,False,2.398357,9.111567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,False,0.013689,6.193018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,S0 - Male,R0 - White,E0 - Non-Hispanic,False,0.736482,7.449692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.736482,NaN,NaN,NaN,5.426420,7.449692,NaN,NaN,NaN
333196,333197,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,True,0.019165,6.984257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333197,333198,2006,S0 - Male,R0 - White,E0 - Non-Hispanic,False,0.443532,7.405886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.321697,NaN,2.321697,6.650240,4.0
333198,333199,2006,S0 - Male,R3 - Other,E0 - Non-Hispanic,True,0.013689,7.017112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333199,333200,2006,S1 - Female,R0 - White,E0 - Non-Hispanic,False,0.019165,3.014374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.347707,0.347707,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#replace nans w/ binary
#OHE
#smote

In [13]:
#replacing nans
food_df.fillna(0)

None

In [10]:
print(food_df)

        SUBJECT_ID  BIRTH_YEAR GENDER_FACTOR   RACE_FACTOR   ETHNICITY_FACTOR  \
0                1        2006   S1 - Female    R1 - Black  E0 - Non-Hispanic
1                2        1994   S1 - Female    R0 - White  E0 - Non-Hispanic
2                3        2006     S0 - Male    R0 - White      E1 - Hispanic
3                4        2004     S0 - Male  R4 - Unknown      E1 - Hispanic
4                5        2006   S1 - Female    R1 - Black  E0 - Non-Hispanic
...            ...         ...           ...           ...                ...
333195      333196        2006     S0 - Male    R0 - White  E0 - Non-Hispanic
333196      333197        2006   S1 - Female    R1 - Black  E0 - Non-Hispanic
333197      333198        2006     S0 - Male    R0 - White  E0 - Non-Hispanic
333198      333199        2006     S0 - Male    R3 - Other  E0 - Non-Hispanic
333199      333200        2006   S1 - Female    R0 - White  E0 - Non-Hispanic

             PAYER_FACTOR  ATOPIC_MARCH_COHORT  AGE_START_YEARS  \
0           P1 - Medicaid                False         0.093087
1       P0 - Non-Medicaid                False        12.232717
2       P0 - Non-Medicaid                 True         0.010951
3       P0 - Non-Medicaid                False         2.398357
4       P0 - Non-Medicaid                False         0.013689
...                   ...                  ...              ...
333195  P0 - Non-Medicaid                False         0.736482
333196      P1 - Medicaid                 True         0.019165
333197  P0 - Non-Medicaid                False         0.443532
333198  P0 - Non-Medicaid                 True         0.013689
333199  P0 - Non-Medicaid                False         0.019165

        AGE_END_YEARS  SHELLFISH_ALG_START  SHELLFISH_ALG_END  FISH_ALG_START  \
0            3.164956                  NaN                NaN             NaN
1           18.880219                  NaN                NaN             NaN
2            6.726899                  NaN                NaN             NaN
3            9.111567                  NaN                NaN             NaN
4            6.193018                  NaN                NaN             NaN
...               ...                  ...                ...             ...
333195       7.449692                  NaN                NaN             NaN
333196       6.984257                  NaN                NaN             NaN
333197       7.405886                  NaN                NaN             NaN
333198       7.017112                  NaN                NaN             NaN
333199       3.014374                  NaN                NaN             NaN

        FISH_ALG_END  MILK_ALG_START  MILK_ALG_END  SOY_ALG_START  \
0                NaN             NaN           NaN            NaN
1                NaN             NaN           NaN            NaN
2                NaN        1.002053      1.002053            NaN
3                NaN             NaN           NaN            NaN
4                NaN             NaN           NaN            NaN
...              ...             ...           ...            ...
333195           NaN             NaN           NaN            NaN
333196           NaN             NaN           NaN            NaN
333197           NaN             NaN           NaN            NaN
333198           NaN             NaN           NaN            NaN
333199           NaN             NaN           NaN            NaN

        SOY_ALG_END  EGG_ALG_START  EGG_ALG_END  WHEAT_ALG_START  \
0               NaN            NaN          NaN              NaN
1               NaN            NaN          NaN              NaN
2               NaN            NaN          NaN              NaN
3               NaN            NaN          NaN              NaN
4               NaN            NaN          NaN              NaN
...             ...            ...          ...              ...
333195          NaN            NaN          NaN              NaN
333196          NaN            NaN          NaN              NaN
333197          NaN            NaN          NaN              NaN
333198          NaN            NaN          NaN              NaN
333199          NaN            NaN          NaN              NaN

        WHEAT_ALG_END  PEANUT_ALG_START  PEANUT_ALG_END  SESAME_ALG_START  \
0                 NaN               NaN             NaN               NaN
1                 NaN               NaN             NaN               NaN
2                 NaN               NaN             NaN               NaN
3                 NaN               NaN             NaN               NaN
4                 NaN               NaN             NaN               NaN
...               ...               ...             ...               ...
333195            NaN               NaN             NaN               NaN
333196            NaN               NaN             NaN               NaN
333197            NaN               NaN             NaN               NaN
333198            NaN               NaN             NaN               NaN
333199            NaN               NaN             NaN               NaN

        SESAME_ALG_END  TREENUT_ALG_START  TREENUT_ALG_END  WALNUT_ALG_START  \
0                  NaN                NaN              NaN               NaN
1                  NaN                NaN              NaN               NaN
2                  NaN                NaN              NaN               NaN
3                  NaN                NaN              NaN               NaN
4                  NaN                NaN              NaN               NaN
...                ...                ...              ...               ...
333195             NaN                NaN              NaN               NaN
333196             NaN                NaN              NaN               NaN
333197             NaN                NaN              NaN               NaN
333198             NaN                NaN              NaN               NaN
333199             NaN                NaN              NaN               NaN

        WALNUT_ALG_END  PECAN_ALG_START  PECAN_ALG_END  PISTACH_ALG_START  \
0                  NaN              NaN            NaN                NaN
1                  NaN              NaN            NaN                NaN
2                  NaN              NaN            NaN                NaN
3                  NaN              NaN            NaN                NaN
4                  NaN              NaN            NaN                NaN
...                ...              ...            ...                ...
333195             NaN              NaN            NaN                NaN
333196             NaN              NaN            NaN                NaN
333197             NaN              NaN            NaN                NaN
333198             NaN              NaN            NaN                NaN
333199             NaN              NaN            NaN                NaN

        PISTACH_ALG_END  ALMOND_ALG_START  ALMOND_ALG_END  BRAZIL_ALG_START  \
0                   NaN               NaN             NaN               NaN
1                   NaN               NaN             NaN               NaN
2                   NaN               NaN             NaN               NaN
3                   NaN               NaN             NaN               NaN
4                   NaN               NaN             NaN               NaN
...                 ...               ...             ...               ...
333195              NaN               NaN             NaN               NaN
333196              NaN               NaN             NaN               NaN
333197              NaN               NaN             NaN               NaN
333198              NaN               NaN             NaN               NaN
333199              NaN               NaN             NaN               NaN

        BRAZIL_ALG_END  HAZELNUT_ALG_START  HAZELNUT_ALG_END  \
0                  NaN                 NaN               NaN
1                  NaN                 NaN               NaN
2                  NaN                 NaN               NaN
3                  NaN                 NaN               NaN
4                  NaN                 NaN               NaN
...                ...                 ...               ...
333195             NaN                 NaN               NaN
333196             NaN                 NaN               NaN
333197             NaN                 NaN               NaN
333198             NaN                 NaN               NaN
333199             NaN                 NaN               NaN

        CASHEW_ALG_START  CASHEW_ALG_END  ATOPIC_DERM_START  ATOPIC_DERM_END  \
0                    NaN             NaN                NaN              NaN
1                    NaN             NaN                NaN              NaN
2                    NaN             NaN           4.884326              NaN
3                    NaN             NaN                NaN              NaN
4                    NaN             NaN                NaN              NaN
...                  ...             ...                ...              ...
333195               NaN             NaN           0.736482              NaN
333196               NaN             NaN                NaN              NaN
333197               NaN             NaN                NaN              NaN
333198               NaN             NaN                NaN              NaN
333199               NaN             NaN           0.347707         0.347707

        ALLERGIC_RHINITIS_START  ALLERGIC_RHINITIS_END  ASTHMA_START  \
0                           NaN                    NaN           NaN
1                           NaN                    NaN           NaN
2                      3.917864               6.157426      5.127995
3                           NaN                    NaN           NaN
4                           NaN                    NaN           NaN
...                         ...                    ...           ...
333195                      NaN                    NaN      5.426420
333196                      NaN                    NaN           NaN
333197                      NaN                    NaN      2.321697
333198                      NaN                    NaN           NaN
333199                      NaN                    NaN           NaN

        ASTHMA_END  FIRST_ASTHMARX  LAST_ASTHMARX  NUM_ASTHMARX
0              NaN             NaN            NaN           NaN
1              NaN       12.262834      18.880219           2.0
2              NaN        1.404517       6.157426           4.0
3              NaN             NaN            NaN           NaN
4              NaN             NaN            NaN           NaN
...            ...             ...            ...           ...
333195    7.449692             NaN            NaN           NaN
333196         NaN             NaN            NaN           NaN
333197         NaN        2.321697       6.650240           4.0
333198         NaN             NaN            NaN           NaN
333199         NaN             NaN            NaN           NaN

[333200 rows x 50 columns]

In [57]:
# dummying OHE

In [ ]:
No pre existing - 0
people who have pre existing condition and food allergy 
people who have pre existing condition and no food allergy 

more precision medication towards women and shellfish allergy
bin target

feature
age start to age end 


classification
multinomial bayes
dummy regressor
logistic regression

time series

dummy model shift/random walk
simple model ar1
push notebook to repo w/ first simple model

low hand fruit
mean of target
median of target
understnd limitations
preprocessing on training (fit)
transformed test
dummy regs, dum class, naive bayes, decision tree 1 split
write markdown explaining why moving to next model